.footer, .footer-container, .footer-inside-links, .language-container, .little-language-container{
    display: flex;
}

.footer-images img, .language-container h3, .little-language-container h4, .footer-inside-links h3, .footer-inside-links a{
    cursor: pointer;
}

.little-language-container h4:hover, .language-container h3:hover, .footer-inside-links h3:hover, .footer-inside-links a:hover{
    color: #FFA542;
    transition: 0.3s;
}

.footer-inside-links a{
    color: black;
    text-decoration: none;
}

.footer{
    width: 100%;
    background-color: #ffffff;
    border-radius: 30px 30px 0 0;
    margin-top: auto;
}

.footer-container{
    margin: 29px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.footer h2,.footer h3,.footer h4{
    padding: 0;
    margin: 0;
}

.footer h2{
    font-weight: 700;
    font-size: 25px;
}

.footer h3{
    font-weight: 400;
    font-size: 17px;
}

.footer h4{
    font-size: 15px;
    font-weight: 700;
}

.footer-inside-links{
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.language-container{
    flex-direction: column;
    gap: 35px;
}

.little-language-container{
    align-items: center;
    gap: 17px;
}

.footer-images{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    height: min-content;
}
