.footer, .footer-inside-links, .language-container, .little-language-container{
    display: flex;
}

.footer{
    width: 100%;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 29px;
    border-radius: 30px 30px 0 0;
}

.footer h2,.footer h3,.footer h4{
    padding: 0;
    margin: 0;
}

.footer h2{
    font-weight: 700;
}

.footer h3{
    font-weight: 400;
}

.footer h4{
    font-weight: 500;
}

.footer-inside-links{
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.language-container{
    flex-direction: column;
    gap: 35px;
}

.little-language-container{
    align-items: center;
    gap: 17px;
}

.footer-images{
    display: flex;
    align-items: center;
}