.payment-form-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payment-back-title{
    display: flex;
    align-items: center;
}

.payment-forms{
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
}

.payment-back-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-back-title a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.address-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.address-container form h3{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: start;
    gap: 10px;
}

.address-container form input, #card-number, #card-date, #card-cvv{
    width: 400px;
    padding: 15px 10px;
    font-size: 15px;
    border-radius: 15px;
    font-weight: 500;
    font-family: "Montserrat";
}

::placeholder{
    font-weight: 500;
    font-family: "Montserrat";
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.card-container form{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#card-number{
    width: 100%;
}

#card-date{
    width: 100px;
}

#card-cvv{
    width: 60px;
}

.payment-forms button{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.4px;
    padding: 20px 70px;
    margin-bottom: 25px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.3s;
}

.payment-forms button:hover{
    background-color: #fff;
    color: #000;
}

.cart-quan-price-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cart-quan-price{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    font-weight: 500;
}

.cart-quan-price h3{
    font-size: 20px;
}

.cart-quan-price-bord{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    border: 2px solid #000;
    border-radius: 20px;
}

.quan-price{
    width: 90%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.quan-price:last-child{
    border-bottom: none;
}