.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.header h2{
    font-weight: 700;
}

.header-images{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-images img{
    padding: 20px 0px 20px 0px;
}