.modal-blur{
    position: fixed;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.05);
}

.modal-container{
    position: relative;
    width: auto;
    height: 400px;
    aspect-ratio: 3/1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.modal-container-inside{
    width: 90%;
    height: 95%;
    display: flex;
    justify-content: space-between;
}

.modal-container-inside img{
    height: auto;
    width: 30%;
}

.text-container{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.text-container h3{
    text-align: start;
    font-size: 15px;
    font-weight: 500;
}

.price-con{
    display: flex;
}

.price-con h4{
    text-decoration: line-through;
    margin-left: 5px;
}

.title-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-button button, .price-button button{
    padding: 10px;
    border: none;
    background-color: black;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid black;
    font-family: "Montserrat";
    cursor: pointer;
    transition: 0.3s;
}

.title-button button:hover, .price-button button:hover{
    background-color: #fff;
    color: black;
}

.price-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}