.App {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #EAEAEA;
  font-family: "Montserrat";
}

.app-container{
  width: 77%;
}

.container{
  min-height: 75.4%;
  display: flex;
  justify-content: center;
}